*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



ul{  



list-style-type:none;

}


a{
    text-decoration:none;
}
.container{

 width:80%;
 margin:auto;


}
.header{
    padding:22px 0;
}
.header .container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;

}

.list ul{
display: flex;
flex-wrap: wrap;
gap:60px;

}
.list a{
    color: #000;
}

.icons ul{

    display: flex;
    flex-wrap:wrap;
    gap:24px;
}