*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    

}

ul{  

list-style-type: none;

}

a{
    text-decoration: none;
}
body{

    font-family: "Inter";
}

h1,
h2,
h3,
h4,
h5{


    font-family: fantasy;
}





.container{

 width:90%;
 margin: auto;
 background-color: antiquewhite;
 
}
.row{

  display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.header{
    padding:21.84px 0;
}
.header .row{

justify-content: space-between;

}

.list ul{
display: flex;

flex-wrap: wrap;
gap:60px;

}
.list a{
    color: #000;
}

.icons ul{

    display: flex;
    flex-wrap: wrap;
    gap:24px;
}

.collections {

    text-align: center;
    

}


.collections .row{
    gap:30px;
}

.collections .collection {

width:calc( (100% - 90px ) / 4);

}

.collection img{
  width: 100%;
}

